# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Salon\Desktop\Parcours Java\P7_Khalid_Boulssane\JavaDA_PROJECT7_RESTAPI\Poseiden-skeleton\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
